{% extends 'base.html' %}


{% block title %}
<title>Excluir</title>
{% endblock %}

{% block intro %}
{% endblock %}


{% block content %}

<section class="container-excluir">
    <div>
        <h2>Deseja realmente excluir {{contato.nome_contato.title}} {{contato.sobrenome_contato.title}}?</h2>
    </div>
    <div class="excluir-contato">
        <form action="{% url 'excluir_contato' contato.id %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            <div class="">
                <a href="{% url 'excluir_contato' contato.id %}"><button type="submit">Confirmar</button></a>
            </div>
        </form>
        <div>
            <a href="{% url 'contatos' %}"><button type="submit">Voltar</button></a>
        </div>
    </div>
</section>

{% endblock %}